/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Global
 * Elements
 * Header
 * Home
 * About
 * Skill
 * Education
 * Certification
 * Experience
 * Portfolio
 * Award
 * Hobby
 * Footer
**/

/*-------------------------*/
/* $Global
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/

/* btn
---------------------*/
/* normal */
.bg_secondary {
  background-image: url("../images/bg2.png");
  background-size: cover;
  background-position: center;
}

.bg_hobby {
  background-image: url("../images/bg_hobby.jpg");
  background-size: cover;
  background-position: center;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 8px 40px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0;
  text-decoration: none;
  color: #f8b035;
  border: 2px solid #f8b035;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  transition: all 0.3s;
}
.btn:hover,
.btn:active {
  background-color: #f8b035;
  color: #fff;
}
.btn .icon:hover .btn .icon:active {
  background-color: #f8b035;
  color: #fff;
}
@media (max-width: 576px) {
  .btn {
    font-size: 18px;
    line-height: 28px;
    padding: 8px 30px;
  }
}

/*icon btn no bgc*/
.icon-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 36px;
  font-size: 24px;
}
.icon-btn .icon {
  display: block;
  text-align: center;
  transition: all 0.3s;
}
.icon-btn .icon:hover {
  transform: translateY(-20%);
}

/*icon btn with bgc*/
.icon-btn_bgc {
  line-height: 18px;
  padding-top: 3px;
  font-size: 14px;
  color: #fefefe;
}

/*text btn*/
.text-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
  color: #484848;
}
.text-btn.text-btn--primary {
  color: #f8b035;
}
.text-btn.text-btn--lg {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  font-weight: 900;
}
.text-btn.text-btn--lg:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #f8b035;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .text-btn.text-btn--lg:before {
    width: 100%;
  }
}
.text-btn.text-btn--lg:hover:before {
  width: 100%;
}
/* image
---------------------*/
.image {
  width: 100%;
  display: block;
}
.work-item .imgbox .image {
  transition: transform 0.5s ease;
}
.work-item .imgbox:hover .image {
  transform: scale(1.2);
}
/* imgbox
---------------------*/
.imgbox__inner_skill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.imgbox {
  width: 100%;
  overflow: hidden;
}
.imgbox__inner {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.imgbox__inner.imgbox__inner--4-3 {
  padding-top: calc(100% * 3 / 4);
}

.imgbox__inner .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/*-------------------------*/
/* $Header
---------------------------*/
.js-header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 80px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.js-header.sticky .navbar {
  background: #02272b;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border-bottom: solid;
  border-width: thin;
  border-color: #eabd71;
}
.navbar__logo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}
.navbar__logo img {
  width: 42px;
  height: 42px;
}

.menu {
  display: flex;
}
.menu .active .menu__item {
  color: #f1b441;
}
.menu__item {
  display: block;
  padding: 10px 20px;
  color: #fefefe;
  line-height: 32px;
  font-size: 18px;
}
.menu__item:hover,
.menu__item:active {
  color: #f8b035;
}

@media (max-width: 960px) {
  .js-header .navbar {
    padding: 4px 10px;
  }
  .navbar__logo img {
    width: 30px;
    height: 30px;
  }
  .menu {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9d7553;
    transition: all 0.5s ease;
  }
  .menu.active {
    left: 0;
  }
  .menu__item {
    padding: 16px 20px;
    font-size: 24px;
  }
  .menu__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
  }
  .menu__toggle .bar {
    width: 24px;
    height: 2px;
    background-color: #fefefe;
    border-radius: 1px;
    transition: all 0.5s ease-in-out;
  }
  .menu__toggle .bar:before,
  .menu__toggle .bar:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fefefe;
    border-radius: 1px;
    transition: all 0.5s ease-in-out;
  }
  .menu__toggle .bar:before {
    transform: translateY(-9px);
  }
  .menu__toggle .bar:after {
    transform: translateY(9px);
  }
  .menu__toggle.active .bar {
    transform: translateX(-24px);
    background: transparent;
  }
  .menu__toggle.active .bar:before {
    transform: rotate(45deg) translate(17px, -17px);
  }
  .menu__toggle.active .bar:after {
    transform: rotate(-45deg) translate(17px, 17px);
  }
}
.home__content .navbar__social-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
  transform: translateY(-50%);
  overflow: hidden;
}
.navbar__social-bar .icon-btn {
  width: inherit;
  height: inherit;
  line-height: 36px;
  font-size: 24px;
  color: #fefefe;
}
.navbar__social-bar .icon-btn .icon:hover {
  transform: translateY(0%);
  color: #f8b035;
}
@media (max-width: 576px) {
  .home__content .navbar__social-bar {
    flex-direction: row;
    justify-content: space-between;
    right: inherit;
    bottom: -100px;
  }
  .navbar__social-bar .icon-btn {
    margin-right: 16px;
    font-size: 24px;
    color: #fefefe;
  }
}
/*-------------------------*/
/* $Home
---------------------------*/
.home {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: top;
  /* background-size: auto; */
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.home:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    37deg,
    rgba(129, 41, 0, 0.397) 15%,
    rgba(235, 143, 5, 0.3) 65%,
    rgba(230, 38, 38, 0.15) 95%
  ); */
  z-index: -1;
}
.home__portrait {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/portrait.png");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: bottom right;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1140px;
  z-index: -2;
}
@media (max-width: 768px) {
  .home__portrait {
    background-size: 420px;
  }
}
@media (max-width: 576px) {
  .home__portrait {
    /* background-size: 360px; */
    background-size: 300px;
  }
}
.home__heading {
  font-size: 80px;
  font-weight: 400;
  color: #fefefe;
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
}
.home__heading:nth-child(3) {
  color: #f8b035;
}
.home__heading:nth-child(4) {
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .home__heading {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .home__heading {
    font-size: 28px;
  }
  .home .detail .gsap-detail {
    font-size: 14px;
  }
}
.home .container .btn {
  margin-top: 20px;
}
.home .home__content h1 {
  width: fit-content;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
.home h1:nth-child(1) {
  animation-delay: 1s;
}
.home h1:nth-child(2) {
  animation-delay: 2s;
}
.home h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
.home .home__content h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #f8b035;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
.home h1:nth-child(1) span {
  animation-delay: 0.5s;
}
.home h1:nth-child(2) span {
  animation-delay: 1.5s;
}
.home h1:nth-child(3) span {
  animation-delay: 2.5s;
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #f8b035;
    font-weight: 700;
  }
}
.home__content .site,
.home__content .jobtitle {
  font-size: 20px;
  color: #fefefe;
  margin-bottom: 5px;
}
.home__content .contact {
  font-size: 16px;
  color: #fefefe;
  margin-bottom: 5px;
}

/*-------------------------*/
/* $About
---------------------------*/
.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
.about__content {
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: #484848;
}
.about__icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f8b035;
  text-align: center;
  line-height: 64px;
  font-size: 32px;
  color: #fefefe;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}
.about__quote {
  padding-bottom: 20px;
  font-size: 28px;
}
.about__text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .about__text {
    line-height: 28px;
  }
}
.about__content .btn {
  margin-top: 24px;
}
/*-------------------------*/
/* $Skill
---------------------------*/
.skill {
  padding-top: 80px;
  padding-bottom: 120px;
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
}

.skill--bg {
  background-image: url("../images/box3Bg.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .skill {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.row .skill__card {
  margin-bottom: 18px;
  font-weight: normal;
  font-size: 24px;
}
.skill__type {
  margin-top: 48px;
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
}

.skill__name:before {
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
  margin-right: 8px;
}

.skill_img {
  width: 11%;
  display: inline-block;
}

.skill__ssms_img {
  width: 6%;
  display: inline-block;
}

.filter_outer {
  box-sizing: border-box;
  backdrop-filter: blur(3px);
  border: 5px solid #d7ab6c;
  background-color: rgba(2, 39, 43, 0.9);
}

@media (max-width: 768px) {
  .skill__name,
  .skill__number {
    font-size: 12px;
  }
  .skill__name {
    margin-bottom: 5px;
  }
  .skill__per-2:after {
    color: #fefefe;
    font-size: 12px;
    top: -18px;
    right: 0px;
  }
}
@media (max-width: 576px) {
  .skill__type {
    font-size: 20px;
  }
  .skill__bar-2,
  .skill__per-2 {
    height: 6px;
    border-radius: 3px;
  }
}

/*-------------------------*/
/* $Education
---------------------------*/
.education--bg {
  background-image: url("../images/border.jpeg");
  background-size: cover;
  background-position: center;
}
.education--bg-covered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f0ee;
  opacity: 0.6;
}

.education {
  padding-top: 60px;
  padding-bottom: 80px;
}
@media (max-width: 576px) {
  .education {
    padding-top: 40px;
  }
}
.education .container {
  margin-bottom: -300px !important;
  z-index: 5;
}
.education__content {
  box-shadow: 0 3px 10px rgba(72, 72, 72, 0.6);
  background-color: #fefefe;
  border-radius: 4px;
}
.education__content .subtitle {
  margin-bottom: 0;
  padding-top: 50px;
  color: #9d7553;
}
.education__content .row {
  padding-top: 50px;
  padding-bottom: 50px;
}
.education__school p {
  margin: 0;
  text-align: center;
  font-size: 24px;
}
.education__school p:nth-child(3) {
  font-size: 12px;
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
}

@media (max-width: 768px) {
  .education__school {
    margin-bottom: 36px;
  }
  .education__text {
    width: 70%;
    margin: 0 auto;
  }
}
.education__text p {
  margin-bottom: 5px;
  margin-top: 0px;
  line-height: 24px;
}
.education__text span {
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
}
.education__text .icon {
  padding-right: 5px;
}
/*-------------------------*/
/* $Certification
---------------------------*/
.certification {
  padding-top: 360px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .certification {
    padding-bottom: 0px;
  }
}
.certification-group {
  padding-bottom: 80px;
  margin-top: 120px;
}
.thumbnail {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(72, 72, 72, 0.3);
  height: 100%;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .thumbnail {
    height: auto;
    margin-bottom: 36px;
  }
}
.thumbnail:hover {
  box-shadow: 0 0 18px 0 rgba(72, 72, 72, 0.3);
}
.thumbnail__imgbox {
  box-shadow: 0 1px 2px rgba(72, 72, 72, 0.2);
}
.thumbnail__imgbox .imgbox__inner {
  width: 100%;
  padding-top: 75%;
}
.thumbnail__imgbox .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.thumbnail__logo {
  width: 100%;
  padding-top: 10%;
}
.thumbnail__logo .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  max-height: 60%;
}
.thumbnail__info {
  padding-left: 5px;
  padding-right: 5px;
}
.thumbnail__info h5,
.thumbnail__info p {
  text-align: center;
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
}
.thumbnail__info h5 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
}
.thumbnail__info h5 span {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
}
.thumbnail__info p {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 16px;
  font-size: 12px;
}
.thumbnail__imgbox-hover {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s ease;
}
.thumbnail__imgbox:hover .thumbnail__imgbox-hover {
  opacity: 1;
}
.thumbnail .icon-btn .icon {
  color: #f8b035;
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  transition: all 0.6s ease;
  opacity: 0;
}
.thumbnail .icon-btn {
  line-height: 50px;
}
.thumbnail__imgbox:hover .icon-btn .icon {
  transform: translate(-50%, -50%);
  opacity: 1;
}

/*-------------------------*/
/* $Experience
---------------------------*/
.experience {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .experience {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.experience--bg {
  background-image: url("../images/experience_background.jpg");
  background-size: cover;
  background-position: center;
}
.experience--bg-covered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.5;
}

/* timeline
---------------------*/
.timeline-group {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  z-index: 3;
}
.timeline {
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: #f8b035;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.timeline-cards__row:nth-child(odd) {
  display: flex;
  justify-content: flex-start;
}
.timeline-cards__row:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}
.timeline-card {
  padding: 24px;
  background-color: #fefefe;
  border-radius: 4px;
  width: calc(50% - 24px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.timeline-card:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f8b035;
  position: absolute;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.timeline-cards__row:nth-child(odd) > :before {
  top: 50%;
  right: -24px;
  transform: translate(50%, -50%);
}
.timeline-cards__row:nth-child(even) > :before {
  top: 50%;
  left: -24px;
  transform: translate(-50%, -50%);
}
.timeline-card__text h5,
h6,
p {
  margin: 0;
}
.timeline-card__text h5 {
  font-size: 28px;
}
.timeline-card__text p {
  line-height: 24px;
}
.timeline-card__text span {
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
  font-style: oblique;
}
.timeline-card__text h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
.timeline-card__text h6.color-black {
  font-style: oblique;
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
}
@media (max-width: 768px) {
  .timeline {
    left: 0;
  }
  .timeline-card {
    width: calc(100% - 24px);
    margin-bottom: 24px;
  }
  .timeline-cards__row:last-child .timeline-card {
    margin-bottom: 0;
  }
  .timeline-cards__row:nth-child(odd) {
    justify-content: flex-end;
  }
  .timeline-cards__row:nth-child(odd) > :before {
    left: -24px;
    transform: translate(-50%, -50%);
  }
}
.timeline-card__project {
  margin-top: 20px;
}
.timeline-card__project h6 {
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
}
.timeline-card__project h6:before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f8b035;
}
.timeline-card__project a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #f8b035;
  text-align: center;
  margin-left: 6px;
  transition: all 0.6s;
}
.timeline-card__project a:hover {
  transform: translateX(3px);
  background-color: #9d7553;
}
.timeline-card__text h5 span {
  font-style: ormal;
}
/*-------------------------*/
/* $Portfolio
---------------------------*/
.work {
  padding-top: 80px;
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .work {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* work-list
---------------------*/
.work-list {
  padding-top: 50px;
}
.work-item__text {
  padding-top: 24px;
}
.work-item__text--right {
  text-align: right;
}
.work-item__title {
  font-size: 40px;
  margin-bottom: 0;
}
.work-item__title--right {
  margin-right: -80px;
}
.work-item__title--left {
  margin-left: -80px;
}
.work-item__type {
  margin-top: 16px;
  margin-bottom: 28px;
}
.work-item__intro {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.col-md-pull-1 {
  right: 8.33333333%;
}
@media (max-width: 768px) {
  .work-item {
    margin-bottom: 48px;
  }
  .work-item__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .work-item__type {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 16px;
  }
  .work-item__text--right {
    text-align: left;
  }
  .work-item__title--right {
    margin-right: 0px;
  }
  .work-item__title--left {
    margin-left: 0px;
  }
  .col-md-pull-1 {
    right: 0;
  }
}
/*-------------------------*/
/* $Award
---------------------------*/
.award {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .award {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.award-group {
  padding-top: 80px;
}
@media (max-width: 768px) {
  .award-group {
    padding-top: 40px;
  }
}
.award-card {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  background: #fefefe;
  height: 100%;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .award-card {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 576px) {
  .award-card {
    height: auto;
    width: 70%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}
.award-card:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #9d7553;
  border-radius: 0 0 4px 4px;
}
.award-card:hover {
  transform: translateY(-20px);
}
.year {
  font-size: 12px;
}
.name {
  font-size: 20px;
  line-height: 24px;
}
.rank {
  font-size: 32px;
}
@media (max-width: 768px) {
  .name {
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
  }
  .rank {
    font-size: 28px;
  }
}
/*-------------------------*/
/* $Hobby
---------------------------*/
.hobby {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .hobby-group {
    padding-top: 40px;
  }
}

.hobby .imgbox__inner {
  width: 100%;
  padding-top: 100%;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .hobby .imgbox__inner {
    width: 80%;
    padding-top: 85%;
  }
}
.hobby .imgbox__inner .image {
  clip-path: circle(50% at 50% 50%);
  transition: 0.5s;
  transition: all 0.5s ease;
}
.hobby .imgbox:hover .image {
  transform: translateY(-30px);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.hobby .imgbox {
  overflow: visible;
}
.hobby .imgbox:before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -70px;
  width: 100%;
  height: 50px;
  background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
  border-radius: 50%;
  transition: 0.5s;
}
.hobby .imgbox:hover:before {
  opacity: 0.8;
  transform: scale(0.6);
}
@media (max-width: 576px) {
  .hobby .imgbox {
    margin-bottom: 40px;
  }
  .hobby .imgbox:hover .image {
    transform: translateY(0);
  }
  .hobby .imgbox:before {
    display: none;
  }
}
.imgbox .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  opacity: 0;
  transition: 0.5s;
  font-family: "Montserrat", "Helvetica", "roboto", "arial", sans-serif;
  font-size: 26px;
  text-shadow: 2px 3px 3px #484848;
}
.imgbox:hover .content {
  transform: translate(-50%, -120%);
  opacity: 1;
}
@media (max-width: 768px) {
  .hobby .imgbox__inner .image {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  .imgbox__inner .content {
    opacity: 1;
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .imgbox:hover .content {
    transform: translate(-50%, -50%);
  }
  .imgbox__inner .content {
    opacity: 1;
  }
}
/*-------------------------*/
/* $Footer
---------------------------*/
footer {
  overflow: hidden;
}
/* info
---------------------*/
.info {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
  letter-spacing: 3px;
}
.info .info__email {
  margin-bottom: 20px;
}
.info .info__email a {
  color: #f8b035;
  font-size: 18px;
}
.info .info__phone {
  margin-bottom: 20px;
}
.info .info__phone a {
  color: #f8b035;
  font-size: 18px;
}
.info__social-bar .icon-btn {
  color: #f8b035;
}
.info .social-bar {
  margin-bottom: 60px;
}
.footer .final-text {
  color: #fefefe;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
}
.footer .copyright {
  color: #fefefe;
  font-size: 12px;
}
